.card-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  justify-content: center;
}

.pokemon-card {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  height: 175px;
  width: 275px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: lightgray;
}

.pokemon-details {
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  margin: 10px;
  /* background-color: #f9f9f9; */
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
  width: 100px; 
  height: 100px; 
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  margin-top: -20px;
}

.pokemon-details h2 {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.pokemon-id-img h1 {
  margin: 0;
  padding: 0;
}

.type-list {
  padding: 5px;
  /* margin-top: 10px; */
}

.pokemon-type {
  display: flex;
  padding: 5px;
  width: 55px;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #f9f9f9;
  justify-content: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .pokemon-card {
    width: 150px;
  }

  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .pokemon-card {
    width: 120px;
  }

  .pokemon-card img {
    width: 80px;
    height: 80px;
  }
}