.type-content {
    display: flex;
    align-items: center;
}

.type-content label {
    margin-right: 10px;
}

.type-content select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .type-content select {
        width: 100%;
    }
}